SENDGRID_FROM_EMAIL=''
SENDGRID_API_KEY=''
TWILIO_ACCOUNT_SID=''
TWILIO_AUTH=''
TWILIO_MESSAGING_SERVICE_SID=''
POSTGRES_NAME='notifier'
POSTGRES_USER='notifier'
POSTGRES_PASSWORD='password'
POSTGRES_HOST='db'
CELERY_REDIS_HOST='redis'
